@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root {
	--bg-color: #272A34;
	--box-color: #30343F;
	--main-color: #b1aaf3;
	--color-2: #d6d3f0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	background-image: linear-gradient(#272A34, #23262F);
	background-color: var(--bg-color);
}

h1 {
	font-size: 2em;
	color: var(--main-color);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 36px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	justify-content: center;
	height: 100vh;
	background-image: linear-gradient(#272A34, #23262F);
	background-color: var(--bg-color);
	align-items: center;
}

.box {
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 36px;
	gap: 10px;
	background-color: var(--box-color);
	border-radius: 24px;
	box-sizing: content-box;
	text-align: center;
	transition: 0.3s;
}

.box table {
	max-height: 140px;
}


.box h1 {
	font-size: 1.7em;
}

.box2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 36px;
	border-radius: 24px;
	box-sizing: content-box;
	max-height: 410px;
}

.box2 img {
	height: 100px;
	width: 150px;
	max-width: 150px;
}

.content-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: fit-content;
	margin-bottom: 30px;
}

.animation {
	max-width: 300px;

}

.container2 form {
	max-height: 283px;
}

.button {
	border-radius: 10px;
	background-color: var(--main-color);
	color: var(--bg-color);
	font-weight: bold;
	padding: 10px 30px;
	outline-color: none;
	outline-style: none;
	text-decoration: none;
	transition: 0.5s;
	border: none;
	cursor: pointer;
}

.button a {
	border-radius: 10px;
	font-weight: bold;
	padding: 10px 30px;
	outline-color: none;
	outline-style: none;
	text-decoration: none;
	transition: 1s;
}

button {
	border-radius: 10px;
	font-weight: bold;
	padding: 10px 30px;
	outline-color: none;
	outline-style: none;
	text-decoration: none;
	transition: 0.3s;
}

.button:hover {
	background-color: #9c94e1;
	/* outline: 2.1px solid var(--main-color); */
	/* color: var(--main-color); */
	cursor: pointer;
	transition: 0.2s;
	transition-delay: 0.02s;
	box-shadow: 0 0 0.6em 0 #9c94e1;
}

.dark-button {
	border-radius: 5px;
	background-color: var(--bg-color);
	color: var(--main-color);
	font-weight: bold;
	padding: 4px 10px;
	outline-color: none;
	outline-style: none;
	text-decoration: none;
	transition: 0.4s;
	border: none;
	cursor: pointer;
	font-size: 13px;
}

.dark-button:hover {
	cursor: pointer;
	transition: 0.4s;
	transition-delay: 0.02s;
	background-color: #383c48;
	border-radius: 8px;
}

.box-form {
	width: 250px;
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: #0000001c;
	color: white;
	margin-bottom: 10px;
	box-sizing: content-box;
}

.box-form:focus {
	outline: none;
	background-color: #00000032;
	color: var(--main-color);
	box-sizing: content-box;
	transition: 0.5s;
}


#form-contato input::placeholder {
	color: rgba(255, 255, 255, 0.205);
}

#form-idcon {
	background-color: #262933;
	color: var(--box-color);
	max-width: 50px;
	color: #8c8c92;
	font-weight: bold;
	text-align: center;
	border: none;
}

.btn-back {
	margin-right: 20px;
	width: 34px;
	height: 34px;
	border-radius: 10px;
	background-color: transparent;
	font-weight: bold;
	font-size: 0.7em;
	text-decoration: none;
	cursor: pointer;
	border: none;
}

.btn-back img {
	width: 24px;
	transition: 0.3s;
}

.btn-back img:hover {
	transition: 0.5s;
	border-radius: 999px;
	transform: scale(1.2);
}

form .button {
	margin-top: 26px;
}

#table-contatos {
	background-color: var(--main-color);
	padding: 20px 40px 20px 40px;
	color: var(--bg-color);
	border-collapse: collapse;
	min-width: 500px;
	max-width: 500px;
}

#table-contatos tr {
	font-size: 1em;
}

#table-contatos th {
	color: #b1aaf3;
	padding: 7px 10px;
	text-align: left;
	background-color: var(--bg-color);
	border: 1px solid #a39ce2;
}

#table-contatos td {
	padding: 7px 10px;
	border: 1px solid #a39ce2;
	max-width: 280px;
	overflow-x: auto;
	white-space: nowrap;
}

::-webkit-scrollbar {
	max-width: 5px;
	height: 6px;
	background-color: rgba(14, 14, 14, 0.106);
}

::-webkit-scrollbar-thumb {
	background-color: var(--box-color);
	border-radius: 5px;
}

.flex {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	grid-area: auto;
}

.edit-del {
	transition: 0.5s;
	border-radius: 4px;
}

.edit-del:hover {
	transition: 0.3s;
	border-radius: 6px;
	background-color: #4e546339;
}

.edit-del img {
	width: 25px;
	padding: 1px;
}

footer {
	display: flex;
	font-size: 12px;
	color: var(--color-2);
}

footer p {
	align-self: flex-end;
}


